* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.7;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;;
    font-size: 18px;
    color: hsl(192, 100%, 9%);
}


.hero {
    width: 100%;
    /* height: 100vh; */
    background-image: url(images/bg-hero-desktop.svg), linear-gradient(to right, hsl(193, 100%, 96%), hsl(193, 100%, 96%));
    background-size: cover;
    overflow: hidden;
    padding:  10px 0 !important;
    padding-bottom: 70px !important;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 35px 100px;
}

.hero__box {
    padding: 35px;
    display: flex;
    width: 85%;
    margin: auto;
    /* margin-top: 50px; */
    align-items: center;
}

.hero__text {
    /* padding-right: 100px; */
    width: 40%;
}

h1 {
    margin-bottom: 30px;
    line-height: 1.4;
}

.hero__text a {
    display: inline-block;
    margin-top: 40px;
}

.hero__img {
    width: 60%;
    text-align: right;
    overflow: hidden;
    padding: 10px;
}

.hero__img img {
    /* flex: 2 0 2; */
    /* overflow: hidden; */
    width: 90%;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 200px;
    padding: 7px 50px;
    
    box-shadow: 0 4px 7px rgba(0,0,0, .15);
}

.btn-pink {
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.btn-white {
    background-color: white;
    color: hsl(192, 100%, 9%);
}

section {
    padding: 150px 0;
}

.section-cards {
    padding-bottom: 0;
}

.card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0, .08);
    border-radius: 10px;
    padding: 50px 70px;
    margin-bottom: 60px;
}



.card__text,
.card__img {
    width: 50%;
    overflow: hidden;
}

.card__text {
    padding: 30px;
}

h2 {
    margin-bottom: 15px;
}

.card__img {
    overflow: hidden;
    text-align: right;
}

.card__img img {
    width: 75%;
}

.card__img--left {
    overflow: hidden;
    text-align: left;
}


.community {
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 35px 30px;
    box-shadow: 0 3px 13px rgba(0,0,0, .08);
    width: 600px;
    border-radius: 10px;
    /* z-index: 1000; */
    transform: translateY(60px);
}

.community a {
    display: inline-block;
    margin: 10px 0;
}

.section-footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    font-size: 14px;
    padding-left:  200px;
    padding-right:  200px;
    padding-bottom: 50px;
}

.section-footer .logo {
    width: 500px;
    margin-bottom: 50px;
}

.section-footer a:link,
.section-footer a:visited {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content > * {
    width: 33.33%;
}

.info-container {
    padding-right: 40px;
}

.info-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.info-group img {
    /* margin-right: 30px; */
    padding-top: 8px;
    margin-right: 40px;
}

.info-links {
    display: flex;
    justify-content: space-around;
    /* padding: 0 50px; */
}

.social-links {
    text-align: center;
    font-size: 30px;

}

.social-links > * {
    padding: 0 5px;
}

.copyright {
    text-align: right;
    display: block;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
    .section-footer {
        padding-left: 100px;
        padding-right: 100px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .hero__box {
        padding: 0;
        padding-top: 50px;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 100px 0;
    }

    .section-footer {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        padding: 30px 30px;
    }

    .info-links {
        flex-direction: column;
        justify-content: flex-start;
        width: 20%;
        padding-left: 40px;
    }

    .info-links ul {
        display: inline-block;
    }

    .info-container {
        padding-right: 0;
    }

    .community {
        padding: 25px 20px;
        font-size: 15px;
        width: 90%;
    }
}

@media only screen and (max-width: 750px) {
    .hero__box {
        flex-direction: column;
    }

    .hero__text,
    .hero__img {
        width: 100%;
        text-align: center;
    }

    .hero__img {
        margin-top: 60px;
    }


    .card {
        flex-direction: column;
    }

    .card__text,
    .card__img {
        width: 100%;
        text-align: center;
    }

    .card__img {
        padding: 20px 20px;
    }

    .section-footer .logo {
        width: 60%;
    }

    header {
        padding: 35px 50px;
    }

    .main-logo {
        width: 30%;
        height: auto;
        /* display: inline-block; */
    }
    .section-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .info-links {
        padding-left: 0;
    }

    .card__img img {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content > * {
        width: 100%;
    }

    .info-links {
        margin-top: 20px;
    }

    .info-links li {
        margin-bottom: 10px;
    }

    .copyright {
        text-align: center;
    }

    .info-group img {
        margin-right: 20px;
    }

    header {
        padding: 20px 30px;
    }

    .main-logo {
        width: 30%;
        display: inline-block;
        padding: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .card__text{
        padding: 10px;
    }

    .card__img {
        padding: 0;
    }

    .try-it {
        padding: 10px 20px !important;
        font-size: 15px;
    }
}